/packages
/.vs

/Database/bin
/Database/obj
/Database/Database.csproj.user

/WebDemo/bin
/WebDemo/obj
/WebDemo/WebDemo.csproj.user

/EFDAL/bin
/EFDAL/obj
/EFDAL/EFDAL.csproj.user

/WebDemo.Tests/bin
/WebDemo.Tests/obj
/WebDemo.Tests/WebDemo.Tests.csproj.user
/TestResults